@model User

<h1> Login </h1>

<form method="post">
    UserName:
    <input asp-for="Username" placeholder="Email Address" required />
    <br />

    Password:
    <input asp-for="Password" placeholder="Password" required />
    <br />

    <input type="Submit" value="Login" />
</form>
